body {
  font-family: sans-serif;
}

.loading-icon {
  position: absolute;
  left: 25%;
  top: 10px;
}

li[ui-sref] {
  color: #333;
  text-decoration: underline;
}

li[ui-sref]:hover {
  font-size: 1.1em;
  line-height: 1.1em;
  color: #000;
  cursor: pointer;
}
